<h1>Quotes App</h1>

<p>Manage Quotes with this App</p>

<h2>Add a Quote</h2>

<form id="createQuote">
    <div>
    <label>Author</label>
    <input id="author"></input>
    </div>

    <div>
    <label>Quote &nbsp</label>
    <textarea id="quote" class="quote" rows="8" cols="40"></textarea>
    </div>
    <div>
    <button data-id="{{id}}" type="submit" id="submitBtn">Add Quote</button>


    </div>

</form>

<ul>
    {{#each quotes}}
    <li>
        <p><span>ID: </span>{{id}}</p>
        <p><span>Author: </span>{{author}}</p>
        <p><span>Quote: </span>{{quote}}</p>
    </li>

    <button data-id="{{id}}" class="delQuote" name="dltBtn">Delete</button>
    <a href='/{{id}}'>Update this quote</a>
    {{/each}}
</ul>