<h1>Quotes App</h1>

<p>Manage Quotes with this App</p>

<h2>Add a Quote</h2>


<form id="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form>

<ul>
    {{#each quotes}}
    <li>
        <p><span>ID: </span>{{id}}</p>
        <p><span>Author: </span>{{author}}</p>
        <p><span>Quote: </span>{{quote}}</p>
    </li>

    <button data-id="{{id}}" class="delQuote">Delete</button>
    <a href='/{{id}}'>Update this quote</a>
    {{/each}}
</ul>